<form action='comment/new'>
    <input type="submit" class="btn-default btn addCommentButton" value="Add a new Comment!">
</form>

<div class="post-title">
<div><strong>Title:</strong></div>
<div><p><%= @post.title %></p></div>
</div>
<div class="post-content">
<div><strong>Content:</strong></div>
<div><p><%= @post.content %></p></div>
</div>


<% @post.comments.each do |comments| %>
<div class="post-comments">
<div><p><%= comments.comment %></p></div>
<form action="comment/<%= comments.id %>/reply">
<button class="btn btn-default reply" type="submit">Reply</button>
</form>
<div class="commentsbuttons">
<% if policy(comments).destroy? %>
<span class="commentdelete"><%= link_to 'destroy', post_comment_path(@post ,comments), method: :delete %></span>
<% end %>

<% if policy(comments).edit? %>
<span class="commentedit"><%= link_to 'edit', edit_post_comment_path(@post ,comments) %></span>
<% end %>
</div>
<div class="comments-posted-by">Posted by: <%= @post.posted_by %></div>


</div>

<div class="replies">
  <% comments.replies.each do |reply| %>
  <div class="replytext"><%= reply.content %>
    <div class="replydata">
      <%= reply.user %>
    </div>
  </div>
<div>
  <% if policy(reply).edit? %>
    <div class="edit"><%= link_to 'edit', edit_post_comment_reply_path(@post, comments, reply) %></div>
  <% end %>

  <% if policy(reply).destroy? %>
    <div class="destroy"><%= link_to 'destroy', post_comment_reply_path(@post, comments, reply), method: :delete %></div>
  <% end %>
<% end %>
</div>
</div>


<% end %>
