<h1><%= "#{@subreddit.first.name}" %></h1>

<% @subreddit.each do |reddit| %>
<% reddit.posts.each do |post| %>
  <% unless post.title == nil || post.content == nil %>
    <div><strong>Title:</strong></div>
    <%= post.title %>
    <div><strong>Content:</strong></div>
    <%= post.content %>
    <div>There are: <%= post.comments.count %><%= link_to ' Comments', comment_index_path(post) %></div>
    <% if policy(post).edit? %>
    <div><%= link_to 'Edit', edit_post_path(post) %></div>
    <% end %>

    <% if policy(post).destroy? %>
    <div><%= link_to 'Destroy', post_path(post), :method => :delete %></div>
    <% end %>

    <% end %>
  <% end %>
<% end %>
