<h1>Your Posts</h1>
<% @posts = @posts.sort_by { |post| [post.get_downvotes.size, post.created_at] } %>

  <% @posts.each do |post| %><br>
  <div class="post-title">
    <div><strong>Title:</strong></div>
    <div><p><%= post.title %></p></div>
    <div class="votes">
      <div><%= link_to "▲", post_upvote_path(post), method: :put %>
      <%= link_to "▼", post_downvote_path(post), method: :put %></div>
      <div><%= post.get_upvotes.size %>
      <%= post.get_downvotes.size %></div>
    </div>
  </div>
  <div class="post-content">
    <div><strong>Content:</strong></div>
    <div><p><%= post.content %></p></div>
  </div>
  <div class="post-data">
    <div class="comments">There are: <%= post.comments.count %><%= link_to ' Comment(s)', post_comment_index_path(post) %></div>
    <div class="comments">Posted by: <%= post.posted_by %></div>
    <% if policy(post).edit? %>
      <div class="edit"><%= link_to 'Edit', edit_post_path(post) %></div>
    <% end %>

    <% if policy(post).destroy? %>
      <div class="destroy"><%= link_to 'Destroy', post_path(post), :method => :delete %></div>
    <% end %>
    <div>

  </div>
  </div>
  <% end %>
