<h1>What's on your mind?</h1>
<%= bootstrap_form_for :post, url: post_index_path do |f| %>
<%= f.text_field :title %>

<%= f.text_area :content %>

<%= f.collection_select(:name, Subreddit.all, :id, :name) %>



<%= f.submit %>
<% end %>
