<h1>What's on your mind?</h1>
<%= bootstrap_form_for :post, url: post_index_path do |f| %>
<%= f.text_field :title %>

<%= f.text_area :content %>

<% Subreddit.all.each do |saiddit| %>
<label class="radio-inline">
  <%= f.radio_button :subreddit, "#{saiddit.name}" %> <%= saiddit.name %>
</label>
<% end %>


<%= f.submit %>
<% end %>
